<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Welcome!</title>
</head>
<body>
    <nav>
   		<div>
            <a th:href="@{/home}"><b>Home page</b></a>
        </div>
        <div>
            <a th:href="@{/message}"><b>view posts</b></a>
        </div>
        <div>
            <a th:href="@{/Login}">Login</a>
        </div>
        <div>
            <a th:href="@{/user}">Register</a>
        </div>
         <div>
            <a th:href="@{/post}">Create post</a>
        </div>
    </nav>
</body>
</html>