<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login</title>
</head>
<body>
    <nav>
   		<div>
            <a th:href="@{/home}"><b>Home page</b></a>
        </div>
        <div>
            <a th:href="@{/message}"><b>view posts</b></a>
        </div>
        <div>
            <a th:href="@{/Login}">Login</a>
        </div>
        <div>
            <a th:href="@{/user}">Register</a>
        </div>
         <div>
            <a th:href="@{/post}">Create post</a>
        </div>
    </nav>

    <h1>Login:</h1>

    <div th:if="${param.error}">Invalid username and password.</div>
    <div th:if="${param.logout}">You have been logged out.</div>
    <form th:action="@{/Login}" method="post">
        <div>
            <label> User Name : <input type="text" name="username" />
            </label>
        </div>
        <div>
            <label> Password: <input type="password" name="password" />
            </label>
        </div>
        <div>
            <input type="submit" value="Sign In" />
        </div>
    </form>
</body>
</html>